body{
  width:100%;
  margin:auto;
  padding:0;
  font-family: 'ClearSans', 'HelveticaNeue', 'Helvetica Neue', sans-serif;
  color: #111111;
  max-width:700px;
}

a {color: #2d9eb2;; text-decoration: none;}
a:active, a:hover {color: #207180;}
/*a:visited {color: #85144B;}*/

.main{
  margin: 1rem;
  line-height: 140%;
  font-size: 18px;
}

.logo{
 border:0;
 width: 180px;
 vertical-align: middle;
}

.celebrate{
  margin:1rem 0;
  font-size: 24px;
  line-height: 140%;
  text-align:center;
}

.center{
  text-align:center;
}

.button{
  display: block;
  background-color: #2d9eb2;
  border-color: #237a89;
  color: white;
  box-shadow: none;
  border-radius: 2px;
  transition: all 200ms ease-out;
  display: inline-block;
  border-top: style: solid;
  border-width: 0 0 3px;
  cursor: pointer;
  font-family: 'ClearSans', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', sans-serif;
  font-weight: bold;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.5625em;
  padding-right: 1.125em;
  padding-bottom: 0.625em;
  padding-left: 1.125em;
  font-size: 1em;
}

a.button{
  color:white;
}

.button:hover{
  background-color: #207180;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .cmobile { text-align: center; }
}


/* FLEXBOX via: http://callmenick.com/post/flexbox-examples*/
/*
.grid {
}

.grid__row {
  display: flex;
  flex-direction: column;
}

.grid__item {
  flex: 1;
  padding: 12px;
  text-align:center;
}

@media all and ( min-width: 550px ) {

  .grid__row--sm {
    flex-direction: row;
  }

}

@media all and ( min-width: 720px ) {

  .grid__row--md {
    flex-direction: row;
  }

}

@media all and ( min-width: 960px ) {

  .grid__row--lg {
    flex-direction: row;
  }

}

img {
  width=100%;
}
*/

/* SWIPER*/
.swiper-container {
  text-align:center;
    width: 100%;
}

.swiper-button-prev{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%232d9eb2'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%232d9eb2'%2F%3E%3C%2Fsvg%3E") !important;
}
